.news-module.featured-locations{
	.flex-col.news-item{
		width:calc((100% / 3 - 1.5rem));
		margin: 0 .75rem 1.5rem;
		&:first-child{
			margin-left:.75rem;
		}
	}

	.entry-content.location-details{
		color: #000;
	    text-transform: uppercase;
	    font-size: .8rem;
	    font-weight: 600;

		.location-size{
			margin-left:2rem;
		}
	}
}
.locations-header{
	margin-left:.75rem;
}