.hero-video {
  position: relative;
  .inner-hero {
    min-height: 80vh;
    padding-top: 4rem;
    h2 {
      font-size:4rem;
      line-height: 4.3rem;
      color: $cream;
      margin-bottom:3rem;
      @include breakpoint(mobile){
        font-size:3.5rem;
        line-height: 3.8rem;
        padding: 0 2rem;
      }
    }
    .play_button {
      height: 160px;
      width: 160px;
      background: url('../images/icon-play-button.svg') center no-repeat;
      background-repeat: no-repeat;
      background-size: cover;
      transition: .3s all ease;
      @include breakpoint(tablet){
        height: 120px;
        width: 120px;
      }
      @include breakpoint(mobile){
        height: 100px;
        width: 100px;
      }
      &:hover {
        opacity: 1;
        cursor: pointer;
        background: url('../images/icon-play-button-darker.svg') center no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  p {
    @include sidepadding(10%, 15%, 20%, 4rem);
    padding-top: 3rem;
    font-size: 1.2rem;
    padding-bottom: 3rem;
  }
  .cta-link {
    @include sidepadding(5%, 4rem, 4rem, 2rem);
    text-align: right;
    h4 {
      color: $secondarycolor;
      position: relative;
      padding-right: 110px;
      font-size: 1.1rem;
    }
    h4::after {
      content: '';
      height: 100%;
      width: 100px;
      right: 25px;
      position: absolute;
      background: url('../images/icon-arrow-right.svg') center no-repeat;
      background-size: 40%;
    }
  }
  .video-container {
    position: absolute;
    width: 100%;
    height: 80vh;
    top:0;
    left: 0;
    z-index: 10;
    &.hide {
      display: none;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
