.offerings {

  .offering {
    padding: 4rem 0rem 0rem;
    width: 25%;
    h2 {
      margin-bottom: 2rem;
    }
    @include breakpoint(mobile) {
      width: 50%;
    }
    @include breakpoint(smallmobile) {
      width: 100%;
    }
    .icon {
      box-shadow: 0 0 0px rgba(0,0,0,.3);
      width: 80%;
      max-width: 100px;
      border: 0px solid $cream;
      border-radius: 50%;
      background: $cream;
      margin-bottom: 1.5rem;
      transition: .3s ease all;
      > div {
        padding-top: 100%;

      }
      @include breakpoint(verylarge) {
        max-width: 160px;
      }
      @include breakpoint(mobile) {
        width: 60%;
      }
    }
    p {
      text-align: center;
      color: $cream;
      width: 100%;
      @include headersfont();
      font-size: 1.15rem;
      @include breakpoint(verylarge) {
        font-size: 1.35rem;
      }
    }
    a {
      > div {

        position: relative;
        p {
          position: absolute;
          justify-content: center;
          display: flex;
          width: 100%;
          left:0;
          text-align: center;
        }
      }
    }
    &:hover {
      cursor: pointer;
      a {
        opacity: 1;
      }
      .icon {
        box-shadow: 0 0 25px rgba(0,0,0,.3);
      }
      p {
        font-weight: bold;
      }
    }
  }
}
