.secondary-menu{
	background:$primarycolor;
	position:relative;
	z-index:9;
	width:100%;
	@include transition(all 0.3s ease);
	top:0;

@include breakpoint(tablet){
		display:none;
	}
	@include breakpoint(mobile){
		display:none;
	}

	&.sticky{
		position:fixed;
		top:0;
	}
	.flex-padding{
		padding:0 5rem;
	}
	a{
		color: #fff;
	    padding: 1.3rem 1.5rem;
	    display: inline-block;
	    opacity: 0.7;
	    font-size: 1rem;
	    &.active,&:hover{
	    	background:rgba(0,0,0,.3);
	    	opacity:1;
	    }
	}
}