.event-dates{
	h6{
		font-size:1rem;
	}
}

.location-teaser{
	display: inline-block;
    font-size: .9rem;
    font-weight: 500;
    color:#bbb;
    margin-bottom:1rem;
}

.event-item{
	h3 {
		line-height: 105%;
	}
	.entry-title{
		margin-bottom:1rem;
	}
}

.news-item {
	.learn-more {
		// 	bottom: 0 !important;
	}
}

.event-cal{
		float: left;
    font-size: .9rem;
    font-weight: 500;
    width: 6rem;
    text-align:center;
		text-transform: uppercase;
		margin: 1.5rem 0 1rem 0;
		@include breakpoint(mobile) {
			margin: 1rem 0 1rem 0;
		}
    .event-month{
    	width: 100%;
	    display: inline-block;
	    background: $secondarycolor;
	    color: #fff;
	    padding: 2px;
    }
    .event-day{
    	background: #ECF0F1;
	    font-size: 3rem;
	    color: $secondarycolor;
	    width: 100%;
	    display: inline-block;
	    padding: 5px;
    }
}

.flex-container.events-horizontal{
	.flex-col.news-item.full-width{
		width:calc(100% - 8rem);
	}
}

.page-numbers {
	padding: 0rem 1rem;
}
