footer.site-footer{
	background:$secondarycolor;
	padding:8rem 0 4rem 0;
	color:#fff;
	font-size:.8rem;
	@include primaryfont();
	font-weight: 300;

	.footer-logo{
		padding:1rem 0 2rem;
	}
	h6{
		color: #fff;
		margin-bottom: 1rem;
	}
	.member-login{
		margin-top: 1rem;
		display: inline-block;
	}
  .triangle-down-right {
	    width: 50%;
		    height: 0;
		    padding-top: 36%;
		    overflow: hidden;
		    position: absolute;
		    right: -200px;
		    bottom: 0;
		    z-index:0;
	}
	.triangle-down-right:after {
	    content: "";
	    display: block;
	    width: 0;
	    height: 0;
	    margin-top:-1200px;

	    border-top: 1200px solid transparent;
	    border-right: 1000px solid $lightsecondary;
	}


  @include breakpoint(mobile){
    	padding:8rem 0 2rem 0;
  }

	p,a,span{
		@include primaryfont();
		font-weight: 300;
    font-size: .8rem;
    color:rgba(255,255,255,1);
	}

	.learn-more{
		font-size:120%;
	}

	.social-media{
		a{
			display:inline-block;
			margin-right:2rem;
			cursor:pointer;
			opacity:0.5;
		}
	}

	.footer-row{
		margin-bottom:3rem;

		@include breakpoint(mobile){
			margin-bottom:0rem;
		}

	}

	.footer-links{
		a{
			display: block;
		    font-size: 85%;
		    font-weight: 400;
		    margin-bottom: 5px;
		}

		.footer-right{
			a{
				border-bottom:1px solid;
				display: inline-block;
    			padding-bottom: 2px;
			}
		}
	}

	.footer-locations{

		span{
			color:rgba(255,255,255,1);
			font-size:70%;
			font-weight:400;
		}
		.location-name{
			font-weight:500;
		}
		.location{
			display:block;
		}
		.telephone,.fax{
			border-bottom: 1px solid;
		    margin-right: 1rem;
		    display: inline-block;
		    font-size: 65%;
		}

	}
	.footer-copyrights{
		text-align: center;
		margin-top:4rem;
		margin-bottom:0;
		span,a{
			color:rgba(255,255,255,1);
			font-weight:500;
			font-size:.75rem;
		}
		a{
			font-size:.75rem;
		}
		span{
			padding-right:1rem;
		}
	}
}
