.featured-items {
  background: $lightsecondary;
  width: 100%;
  .icon {
    margin: 3rem 0rem;
    width: 135px;
    height: 135px;
    @include breakpoint(mobile) {
      width: 75px;
      height: 75px;
      margin: 1rem 0rem;
    }
  }
  h2 {
    border-bottom: 5px solid $primarycolor;
    padding: 0 3rem 1rem 3rem;
    text-align: center;
    display: inline-block;
  }
  .posts-container {
    width: 100%;
    max-width: 800px;
    @include breakpoint(smallmobile) {
      padding-right: 0;
      padding-left: 0;
    }
    position: relative;
    justify-content: center;
    align-items: center;
    h3.locale {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.3rem;
    }
  }
  &.news {
    background: #fff;
    >h2 {
      margin-bottom: 3rem;
    }
    .posts-container {
      width: 100%;
      max-width: 1200px;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
      margin-top: 0;
      @include breakpoint(mobile) {

      }
      h3.subtitle {
        text-align: left;
        width: 100%;
        position: relative; // left: -5rem;
        top: -2rem;
        color: $secondarycolor;
        @include breakpoint(tablet) {
          left: 0;
          top: -2rem;
        }
        @include breakpoint(mobile) {
          left: 0;
          top: -.5rem;

        }
      }
      .news-card {
        background: $cream;
      }
    }
  }
}
