input, select, button, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&::-webkit-input-placeholder {
  	color: $secondarycolor;
	}
	&::-moz-placeholder {
	  color: $secondarycolor;
	}
	&:-ms-input-placeholder {
	  color: $secondarycolor;
	}
	&:-moz-placeholder {
	  color: $secondarycolor;
	}
	&:focus, &:active {
		outline: 0;
	}
	&::-ms-expand {
		display: none !important;
	}
	overflow: hidden !important;
	&::-moz-focus-inner {
		border: 0;
	  }
}

form, form.form1{
	input[type="text"], input[type="email"], input[type="url"], textarea, input[type="tel"], select {
		border:1px solid $transorange !important;
		color: $secondarycolor !important;
		border-radius: 0 !important;
		@include primaryfont();
		font-size: .938rem !important;
		padding: .5rem .5rem !important;
		height: 2.5rem !important;
		font-family: $primaryfont !important;
		&:active, &:focus {
			border:1px solid $secondarycolor !important;
		}
	}

	textarea {
		height: 200px !important;
	}


	.wpforms-submit, input[type="file"], #searchsubmit{
		width: 100% !important;
		background: $secondarycolor !important;
		color: #fff !important;
		font-size: .875rem !important;
		font-weight: 600 !important;
		padding: .7rem 2rem !important;
		letter-spacing: 2px !important;
		border-radius: 5px !important;
		margin: 1rem 0rem !important;
		border: 1px solid transparent !important;
		text-transform: uppercase !important;
		font-family: $primaryfont !important;
		@include transition(all .3s);
		&#searchsubmit {
			width: auto !important;
		}
		&:hover {
			cursor: pointer;
			opacity: 1;
			background: $accentorange !important;
		}
	}
	.wdform_row{
		width:100%;
	}

	.wdform_section{
		width:100%;
	}

	.wdform-field{
		display:block !important;
		width:100% !important;
	}

	.wdform-element-section{
		width:100% !important;
	}

	.wdform_column{
		width:100%;
	}

	.wdform-required,.wdform-label{
		display:none;
	}

	&#form1{
		input[type="text"],textarea{
			border:1px solid $transorange;
			padding:20px 10px !important;
			font-family: initial;
    		font-size: 1.2rem !important;
		}
		textarea{
			padding-top:10px !important;
			height:150px !important;
		}
	}
}

.wpforms-confirmation-container-full {
	background: $secondarycolor !important;
	border: none !important;
	p {
		color: #fff !important;
		text-align: center !important;
	}
	margin: 0 0 8rem !important;
}
.wpforms-error {
	color: $darkblue !important;
}
.application-form {
	// background: rgba(20,20,20,.5);
	display: flex;
	align-items: center;
	overflow: hidden;
	justify-content: center;
	width: 100%;
	height: 0;
	transition: height ease .3s;
	padding-bottom: 3rem;
	* {
		transition: opacity .5s ease;
		opacity: 0;
	}

	&.open {
		height: auto;
		* {
			opacity: 1;
		}
	}
	> div {
		max-width: 600px;
	}
	.wpforms-field-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.wpforms-field {
		padding: 10px 0 !important;
		width: 100% !important;
	}
	.wpforms-field-text, .wpforms-field-email, .wpforms-field-phone {
		width: 49% !important;
		@include breakpoint(mobile) {
			width: 100%;
		}
	}
	.wpforms-field-medium {
		width: 100% !important;
		max-width: 100% !important;
	}
}

.select-container {
  position: relative;
  border:1px solid $secondarycolor !important;
  border-radius: 10px;
  flex-grow: 0;
  @include breakpoint(small-mobile) {
    width: 100%;
  }

}
#cat {
  -webkit-appearance:none;
  -moz-appearance: none;
  &::-ms-expand {
    display: none;
  }
  border: none;
  width: 100%;
  background: transparent;
  font-size: .75rem;
  @include primaryfont();
  padding: .8rem 1rem;
  position: relative;
  z-index: 2;
  border: 1px solid transparent;
  color: #F07241;
  cursor: pointer;
  &:focus, &:active {
    outline: none;
  }
  option:first-child {
    color: $secondarycolor;
  }
}
select:focus, select:active {
  outline: none !important;
}

.arrow, .wpforms-field-select {
  position: relative !important;
	&:after {
		content:"";
		border-bottom: 2px solid $secondarycolor;
		border-right: 2px solid $secondarycolor;
		border-top: 5px solid transparent;
		border-left: 5px solid transparent;
		-webkit-border-radius: 0.2em;
		border-radius: 15%;
		display: block;
		height: .8rem;
		position: absolute;
		width: .8rem;
		transform: rotate(45deg);
		right: 1.5rem;
		top: .6rem;

	}
	&:hover {
		&:after {
			border-bottom: 3px solid $blue;
			border-right: 3px solid $blue;
		}
	}
}

.wpforms-field-select {
	select {
		cursor: pointer !important;
	}
	cursor: pointer !important;
	&:after {
		top: 1.2rem;
	}
}
