@mixin breakpoint($point) {
	@if $point == verylarge {
		@media only screen and (min-width : 1500px) { @content; }
	}
	@if $point == tablet {
		@media only screen and (max-width : 1100px) { @content; }
	}
	@if $point == mobile {
		@media only screen and (max-width : 720px) { @content; }
	}
	@if $point == smallmobile {
		@media only screen and (max-width : 420px) { @content; }
	}
	@else {
		@media only screen and (max-width : $point) { @content; }
	}
}

@mixin calc($property, $expression) {
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

@mixin grad($top,$bottom) {
    background: $bottom; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($top, $bottom); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($top, $bottom); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($top, $bottom); /* For Firefox 3.6 to 15 */
    background: linear-gradient($top, $bottom); /* Standard syntax */
}

@mixin grad_left($top,$bottom) {
    background: $bottom; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to right, $top, $bottom); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right, $top, $bottom); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right, $top, $bottom); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $top, $bottom); /* Standard syntax */
}

@mixin grad_right($top,$bottom) {
    background: $bottom; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to left, $top, $bottom); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to left, $top, $bottom); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to left, $top, $bottom); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, $top, $bottom); /* Standard syntax */
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transform($transform) {
	-webkit-transform: $transform;  /* Saf3.1+, Chrome */
	     -moz-transform: $transform;  /* FF3.5+ */
	      -ms-transform: $transform;  /* IE9 */
	       -o-transform: $transform;  /* Opera 10.5+ */
	          transform: $transform;
}

@mixin primaryfont(){
	font-family: $primaryfont;
	font-style: normal;
	font-weight: 400;
}

@mixin headersfont(){
	font-family: $headersfont;
	font-style: normal;
}

@mixin sidepadding($vl, $norm, $tab, $mob) {
	padding-right: $norm;
	padding-left: $norm;
	@include breakpoint(verylarge) {
		padding-right: $vl;
		padding-left: $vl;
	}
	@include breakpoint(tablet) {
		padding-right: $tab;
		padding-left: $tab;
	}
	@include breakpoint(mobile) {
		padding-right: $mob;
		padding-left: $mob;
	}
}

@mixin vertpadding($vl, $norm, $tab, $mob) {
	padding-top: $norm;
	padding-bottom: $norm;
	@include breakpoint(verylarge) {
		padding-top: $vl;
		padding-bottom: $vl;
	}
	@include breakpoint(tablet) {
		padding-top: $tab;
		padding-bottom: $tab;
	}
	@include breakpoint(mobile) {
		padding-top: $mob;
		padding-bottom: $mob;
	}
}

@mixin equalpadding($vl, $norm, $tab, $mob) {
	padding: $norm;
	@include breakpoint(verylarge) {
		padding: $vl;
	}
	@include breakpoint(tablet) {
		padding: $tab;
	}
	@include breakpoint(mobile) {
		padding: $mob;
	}
}
