input, select, button, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&::-ms-expand {
		display: none !important;
	}
	overflow: hidden !important;
	&::-moz-focus-inner {
		border: 0;
	  }
}

select {
  font-family: $regularfont !important;
  font-size: .9rem;
  cursor: pointer;
}

form {
  .wpforms-field-medium {
    max-width: none !important;
  }

  // &:after {
  //     content: "* denotes required field";
  //     position:absolute;
  //     font-size: .5rem;
  //     color: #fff;
  //     @include primaryfont();
  //     padding-top: .3rem;
  // }

    input {
          padding: 0rem .8rem !important;
    }
    textarea {
          padding: 1rem .8rem !important;
    }
  input, textarea {
    color: $primarycolor !important;
    border: 0px solid !important;
    border-radius: 5px !important;
    background: $tertiarycolor !important;
    font-family: $regularfont !important;
    font-size: 1.3rem;

    &::placeholder { /* Most modern browsers support this now. */
      // font-size: .8rem;
      color: $primarycolor;
      font-family: $regularfont !important;
    }
  }

  .wpforms-field-name{
    width: 100%;
  }
  .wpforms-submit {
    @include primaryfont();
    border-radius: 30px !important;
    padding: 1rem 5rem !important;
    margin-top: 2rem;
    background: $secondarycolor !important;
    color: #fff !important;
    text-transform: uppercase !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    border: none !important;
  }
  .wpforms-submit-container{
    display: flex !important;
    justify-content: center !important;
  }

  .wpforms-field-checkbox {
    input {
      -webkit-appearance: none;
      position: relative !important;
      display: inline-block;
      width: 1.2rem !important;
      height: 1.2rem !important;
      padding: 0 !important;
      flex-shrink: 0;
      &:active, &:focus {
        border: none !important;
      }
      @include breakpoint(tablet){
        width: 25px;

      }

      margin: 0;
      margin-right: 8px;
      border: 1px solid #eee;
      border-radius: 5px;
      cursor: pointer;
      &:checked:before {
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;
        left: 4px;
        display: block;
        background: $primarycolor;
        border-radius: 5px;
        content: '';
      }
    }
    label {
      position: relative;

    }
  }
}
