
.blog-template {
  .filter-container {
    justify-content: flex-end;
    margin-bottom: 2rem;
    width: 40%;
    @include breakpoint(tablet) {
      width: 35%;
    }
    @include breakpoint(mobile) {
      width: 40%;
    }
    @include breakpoint(smallmobile) {
      width: 100%;
      max-width: 100%;
    }
    > div {
      width: 70%;
      max-width: 220px;
      @include breakpoint(tablet) {
        width: 100%;
      }
      @include breakpoint(mobile) {
        width: 100%;
      }
      @include breakpoint(smallmobile) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .case-studies .filter-container {
    width: 100%;
  }
  .cream-offset-bg {
    position: relative;
    overflow: hidden;
    background: rgba(0,0,0,0);
    &:after {
      width: 100%;
      height: 100%;
      content: '';
      background: $cream;
      top: 16rem;
      left:0;
      position: absolute;
      z-index: -1;
    }
  }

  .blog-list {
    @include sidepadding(15%, 10%, 2rem, 1rem);
    a {
      &:nth-of-type(6n) {
        position: relative;
        z-index: 2;
        &:after {
          content: '';
          position: absolute;
          background: url('../images/kglobal-svg_bg.svg') no-repeat;
          background-size: contain;
          content: '';
          width: 90px;
          height: 90px;
          left: -5%;
          bottom: -25%;
          z-index: -1;
          @include breakpoint(mobile) {
            display: none;
          }

        }
      }
    }
    h3 {
      &.sorry {
        width: 100%;
        text-align: center;
        color: $darkblue;
      }
    }
    .tag-results {
      width: 60%;
      @include breakpoint(tablet) {
        width: 65%;
      }
      @include breakpoint(mobile) {
        width: 55%;
        h5 {
          font-size: 1.2rem;
          padding: .7rem 0;
        }
      }
      @include breakpoint(smallmobile) {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.pagination {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  p {
    display: inline-block;
    margin: 0 2rem;
    padding: 0;
    opacity: .73;
    letter-spacing: 0;
    // font-family: NHaasGroteskTXPro-65Md;
    font-size: 0.75rem;
    color: $secondarycolor;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    align-items: center;
    @include breakpoint(mobile) {
      margin: 0 .5rem;
    }
    @include breakpoint(smallmobile) {
      margin: 0 .3rem;
    }
  }
  a {
    color: $secondarycolor;

  }
  .prev, .next {
    min-width: 100px;
    @include breakpoint(mobile) {
      min-width: 60px;
    }
    content: '';
    a:hover {
      color: $blue;
    }
  }

  .next a {
    &:after {
      height: 1rem;
      width: 2rem;
      top: 0.25rem;
      position: relative;
      background: url('../images/icon-arrow-right-short.svg') center no-repeat;
      background-size: 40%;
      content: '';
      display: inline-block;
    }
  }
  .prev a {
    &:before {
      height: 1rem;
      width: 2rem;
      top: 0.25rem;
      position: relative;
      background: url('../images/icon-arrow-right-short.svg') center no-repeat;
      background-size: 40%;
      content: '';
      display: inline-block;
      -moz-transform: scale(-1, -1);
      -o-transform: scale(-1, -1);
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, -1);
    }
  }
}

.blog-post {
  .hero {
    h1 {
      border: none;
    }
    @include breakpoint(mobile) {
      height: auto;
      min-height: 50vh;
      padding-top: 6rem;
      padding-bottom: 4rem;
    }
  }
  aside{
    padding: .5rem 1rem .5rem 0;
    h5 {
      @include primaryfont();
      font-size: 1rem;
      a {
        font-weight: bold;
      }
    }
    .categories {
      padding: 1.5rem 0;
      a {
        font-size: .9rem;
        display: block;
        color: $blue;
        font-weight: bold;
        &:after {
          position: relative;
          left: -3px;
          content: ', ';
        }
        &:last-of-type {
          &:after {
            content: '';
          }
        }
        @include breakpoint(mobile) {
          a {
            display: inline;
          }
        }
      }
    }
    .social {
      a {
        display: block;
        margin-bottom: 1rem;
        width: 30px;
        height: 24px;
        text-align: center;
        img {
          width: auto;
          height: 100%;
          &.twitter-icon {
            height: 90%;
          }
        }
      }
      @include breakpoint(mobile) {
        a {
          display: inline-block;
          margin-right: 1.2rem;
        }
        padding-bottom: 1.5rem;
      }
    }
    h5 span {
      &:after {
        position: relative;
        display: inline;
        left: -3px;
        width: 4px;
        color: $darkblue;
        content: ', ';
      }
      &:last-of-type {
        &:after {
          content: '';
        }
      }
    }
  }
  .pattern-bg {
    position: relative;
    overflow: hidden;
    &:before {
      z-index: -1;
      background: url('../images/bg-lightbulb.svg') bottom left no-repeat;
      background-size: cover;
      position: absolute;
      height: 400px;
      width: 200px;
      left: 15%;
      bottom: 10%;
      content: '';

    }
  }
  .blog-body {
    @include sidepadding(10%, 15%, 4rem, 2rem);
    margin-bottom: 4rem;
    .flex-3-4 {
      * {
        color: $darkblue;

      }
      h1 {
        font-size: 3rem;
      }
    }
  }
}
