.search-page {
  .hero {
    height: 50vh;
    &:after {
      background: none;
    }
  }
  .results {
    @include sidepadding(10%, 10%, 0, 0);
    padding-bottom: 8rem;
    @include breakpoint(mobile) {
      padding-bottom: 4rem;
    }
  }
  .post-card , .job-card{
    padding: 1rem 2rem;
  }

  .staff-card {
    flex-grow: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
